*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#circle{
    background-color: red;
    border: solid 5px;
    border-radius: 50%;
    height: 70px;
    width: 70px;   
    position: absolute;
    box-shadow: 5px 10px 5px rgba(111, 125, 209, 0.418);
    transition: 0.07s;
}
